@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #29638a;
  color: white;
  padding: 20px;
}

/* Create a grid that has a 12 column */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.col-8 {
  grid-column: span 8;
}

.col-4 {
  background-color: #fafafa;
  grid-column: span 4;
}

.custom-header {
  border-bottom: 3px solid #29638a;
  color: #29638a;
  margin-bottom: 20px;
}
